body {
    background-color: rgb(255, 255, 255);
}

H1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(90, 88, 88);
    color: rgb(156, 156, 156);
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40
}

.outer {
    display: flex;
}

.box {
    background-color: blanchedalmond;
    border: 2px solid black;
    color: black;
    padding: 20px 20px;
    text-align: center;
}

.img1 {
    background-color: darkslategray;
    border: 10px solid green;
}

.img2 {
    background-color: rgb(27, 66, 66);
    margin-left:left 30%
    margin-right: right 30%
    border: 10px solid darkgreen;



}

.box2{

    background-color: azure;
    border: 3px solid rgb(4, 0, 255);
    text-transform: capitalize;
    text-align: center;
    font-weight: bolder;
    font-size: 30px;
    margin-left: auto;
    margin-right: auto; 



}

.inner{

    display: flex;
    background-color: rgb(255, 0, 170);

}

.menu{

    background-color: coral;
    text-align: center;



}